<!DOCTYPE html>
<html lang="en,ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{.Title}}</title>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>

<body class="bg-light">

    <div class="container">

        <main>
        
        <h1>{{.Title}}</h1>

        <form lass="container needs-validation" novalidate>
            <div class="row g-3 mt-4 py-2">
                <div class="col-12">
                    <label for="passwd" class="form-label">{{.Password}}</label>
                    <input type="text" class="form-control" id="passwd" placeholder="" required>
                    <div id="passwdErr" class="invalid-feedback"></div>
                </div>
            </div>

            <div class="row g-3 py-2">
                <div class="col-md-4">
                    <label for="iterNum" class="form-label">{{.Iterations}}</label>
                    <input type="text" class="form-control" id="iterNum" placeholder="" value="" required>
                    <div id="iterNumErr" class="invalid-feedback"></div>
                </div>

                <div class="col-md-4">
                    <label for="keyLen" class="form-label">{{.Keylen}}</label>
                    <input type="text" class="form-control" id="keyLen" placeholder="" value="" required>
                    <div id="keyLenErr" class="invalid-feedback"></div>
                </div>

                <div class="col-md-4">
                    <label for="hashAlgo" class="form-label">{{.HashAlgo}}</label>
                    <select class="form-control" id="hashAlgo" required>
                        <option value="">{{.HashChoose}}</option>
                        <option>{{.SHA1}}</option>
                        <option>{{.SHA256}}</option>
                        <option>{{.INVALID}}</option>
                    </select>
                    <div id="hashAlgoErr" class="invalid-feedback"></div>
                </div>
            </div>
        </form>

        <div class="row py-2">
            <div class="col-md-4">
                <button id="sendBtn" class="btn btn-primary btn-lg">
                    {{.DoBtn}}
                </button>
            </div>
        </div>


        <hr class="my-4"></hr>

        <div class="row">
            <div class="col-12">
                <label for="keyResult" class="h3 form-label">{{.Result}}:  </label>
                <input type="text" class="form-control" id="keyResult" readonly>
            </div>
        </div>

    </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>


    <script>
    $("#sendBtn").click(function(){
        $("#keyResult").val("");

        $.ajax({
            async: true,
            cache: false,
            method: "POST",
            url: "/api/pbkdf2",
            dataType: "json",
            data: {
                Password: $("#passwd").val(),
                Iter: $("#iterNum").val(),
                KeyLen: $("#keyLen").val(),
                Hash: $("#hashAlgo").val(),
            },
            success: function(data, textStatus, jqXHR) {
                console.log(data, textStatus, jqXHR)
                if (jqXHR.status == 200) {
                    $("#keyResult").val(data.body);
                    return
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                alert(jqXHR.statusText + ": " + jqXHR.responseText);
            },
        });
    });
    </script>

</body>

</html>